<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">О сайте</h1>
    <p class="lead">
        Наш сайт - первый из таких возможных. Он позволяет вам переводить фразелогизмы на различные языки!
        Уже у нас доступно переводов - <%= @count %> на разных языках.
    </p>
</div>