<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Сохраненные идиомы</h1>
</div>

<% if @idioms.length > 0%>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Номер строки</th>
            <th scope="col">Идиома (на русском)</th>
            <th scope="col">Перевод идиомы (на англйиском)</th>
            <th scope="col">Удалить</th>
          </tr>
        </thead>
        <tbody>
          <% @idioms.each_with_index do |idiom, i| %>
            <tr>
              <td><%= i+1 %></td>
              <td><%= idiom.str_from %></td>
              <td><%= idiom.str_to %></td>
              <td><a href="/remove_from_saved/<%= idiom.id %>" class="text-danger">Удалить</a></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<% else %>
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <p class="lead">
    Пока у вас нет сохраненных идиом!
  </p>
</div>
<% end %>